	/*
  mũi tên cuối trang
  	*/

@font-face {
  font-family: "Flaticon";
  src:  url("../fonts/Flaticon.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}



.flaticon-cupid:before, .flaticon-two:before,
.flaticon-cupid:after, .flaticon-two:after {   
  font-family: Flaticon;
        font-size: 75px;
font-style: normal;
margin-left: 20px;
}


.flaticon-cupid:before { content: "\f108"; }
.flaticon-two:before { content: "\f10c"; }